{% extends 'base.html.twig' %}
{% block body %}
<h1> Password Generator</h1>
    <form id="js-form-password" action="{{ path('app_generate_password') }}" >
        <div>
            <label for="length">Length</label>
            <select name="length" id="length" >
                {% for i in password_min_length..password_max_length %}
                    <option value="{{ i }}"
                  {%  if i == password_default_length %}selected{% endif%}
                    >{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="uppercase-letters">Uppercase Letters</label>
            <input
                    name="uppercase_letters"
                    type="checkbox"
                    id="uppercase-letters"
                    {{ uppercaseLetters? 'checked' }}
            >
        </div>

        <div>
            <label for="digits">Numbers</label>
            <input
                    name="digits"
                    type="checkbox"
                    id="digits"
                    {{ digits ? 'checked' }}
            >
        </div>

        <div>
            <label for="special-characters">Special Characters</label>
            <input
                    name="special_characters"
                    type="checkbox"
                    id="special-characters"
                    {{ specialCharacters ? 'checked' }}
            >
        </div>

        <div>
            <button type="submit">Generate Password</button>
        </div>
    </form>

    <footer>
        <p>
            Built with &hearts; by
            <a href="https://github.com/Nirvaan1">Nirvaan</a>.
        </p>
    </footer>
{% endblock %}

